.venv
venv
env
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd

.git
.gitignore
.github

.env
.env.*
!.env.example

.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov

.vscode
.idea
*.swp
*.swo
.DS_Store
Thumbs.db

terraform/
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl


Dockerfile
.dockerignore

dist
build
*.egg-info

logs
*.log
